@model IEnumerable<intento1.Productos>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cantidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StockAlerts.Id)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>

                @if (item.Cantidad <= 0)
                {
                    <img src="../../Assets/Agotado3.png" alt="Agotado" />
                }
                else
                {
                    @Html.DisplayFor(modelItem => item.Cantidad)
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StockAlerts.Id)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }) |

                @if (item.Cantidad > 0)
                {
                @Html.ActionLink("Add to Cart", "AddCart", new { id = item.Id })
                
                }


            </td>
        </tr>
    }
</table>


<p>
    @Html.ActionLink("Añadir a Pedido", "AddOrder") |
</p>